In [12]:
import pandas as pd

In [13]:
import json
with open('fifa_data.json') as f:
    data = json.loads(f.read())

In [18]:
df = pd.DataFrame.from_dict(data['matches'])
df.iloc[2]

attendance                                                          62548
away_team               {'country': 'Iran', 'code': 'IRN', 'goals': 1,...
away_team_country                                                    Iran
away_team_events        [{'id': 22, 'type_of_event': 'yellow-card', 'p...
away_team_statistics    {'country': 'Iran', 'attempts_on_goal': 8, 'on...
datetime                                             2018-06-15T15:00:00Z
fifa_id                                                         300331526
home_team               {'country': 'Morocco', 'code': 'MAR', 'goals':...
home_team_country                                                 Morocco
home_team_events        [{'id': 23, 'type_of_event': 'yellow-card', 'p...
home_team_statistics    {'country': 'Morocco', 'attempts_on_goal': 13,...
last_event_update_at                                 2018-06-21T02:36:30Z
last_score_update_at                                                 None
location                                         Saint Petersburg Stadium
officials               [Cuneyt CAKIR, Bahattin DURAN, Tarik ONGUN, Se...
stage_name                                                    First stage
status                                                          completed
time                                                            full-time
venue                                                      St. Petersburg
weather                 {'humidity': '37', 'temp_celsius': '25', 'temp...
winner                                                               Iran
winner_code                                                           IRN
Name: 2, dtype: object

In [4]:
df['attendance'].astype(int).sum()

3031768

In [5]:
df['weather'][0]

{'humidity': '43',
 'temp_celsius': '17',
 'temp_farenheit': '49',
 'wind_speed': '6',
 'description': 'Partly Cloudy'}

In [6]:
df['temp_cells'] = df.weather.apply(lambda x:x['temp_celsius']).astype(float)
df.head(1)

,attendance,away_team,away_team_country,away_team_events,away_team_statistics,datetime,fifa_id,home_team,home_team_country,home_team_events,...,location,officials,stage_name,status,time,venue,weather,winner,winner_code,temp_cells
0,78011,"{'country': 'Saudi Arabia', 'code': 'KSA', 'go...",Saudi Arabia,"[{'id': 12, 'type_of_event': 'substitution-in'...","{'country': 'Saudi Arabia', 'attempts_on_goal'...",2018-06-14T15:00:00Z,300331503,"{'country': 'Russia', 'code': 'RUS', 'goals': ...",Russia,"[{'id': 5, 'type_of_event': 'goal', 'player': ...",...,Luzhniki Stadium,"[Nestor PITANA, Hernan MAIDANA, Juan Pablo BEL...",First stage,completed,full-time,Moscow,"{'humidity': '43', 'temp_celsius': '17', 'temp...",Russia,RUS,17.0

In [7]:
df['temp_cells'].mean()

23.75

In [8]:
t = pd.DataFrame()
df['away_team_events_num'] = df['away_team_events'].apply(lambda x:len(x))
df['home_team_events_num'] = df['home_team_events'].apply(lambda x:len(x))
t['matches'] = (df['home_team_country'] + ' - ' + df['away_team_country'])
t['events'] = (df['home_team_events_num'] + df['away_team_events_num'])
t.iloc[t['events'].idxmax()]

matches    France - Argentina
events                     27
Name: 48, dtype: object

In [9]:
t.iloc[t['events'].idxmin()]

matches    England - Belgium
events                    11
Name: 46, dtype: object

In [10]:
t['attendance'] = df['attendance'].apply(lambda x: int(x))
t.iloc[t['attendance'].idxmax()]

matches       Russia - Saudi Arabia
events                           20
attendance                    78011
Name: 0, dtype: object

In [11]:
t = pd.DataFrame()
t['home_team'] =  df['home_team_country']
t['home_goals'] = df['home_team'].apply(lambda x:x['goals']).astype(int)
t['away_team'] = df['away_team_country']
t['away_goals'] = df['away_team'].apply(lambda x:x['goals']).astype(int)
t = t.groupby('home_team')['home_goals'].sum() + t.groupby('away_team')['away_goals'].sum()
t.sort_values()

home_team
Peru               2
Australia          2
Morocco            2
Serbia             2
Costa Rica         2
Poland             2
Egypt              2
Saudi Arabia       2
Panama             2
Germany            2
Iceland            2
Iran               2
Nigeria            3
Mexico             3
Korea Republic     3
Denmark            3
Senegal            4
Tunisia            5
Switzerland        5
Sweden             6
Portugal           6
Argentina          6
Colombia           6
Japan              6
Spain              7
Uruguay            7
Brazil             8
Russia            11
England           12
France            14
Croatia           14
Belgium           16
dtype: int64

In [198]:
#Ð·Ð°Ð´ 9-10
df.groupby('venue')['temp_cells'].mean().sort_values()

venue
Kaliningrad        17.750000
Ekaterinburg       19.500000
St. Petersburg     20.428571
Saransk            22.000000
Moscow             22.916667
Kazan              23.166667
Nizhny Novgorod    23.166667
Sochi              25.166667
Samara             27.333333
Rostov-On-Don      29.000000
Volgograd          31.750000
Name: temp_cells, dtype: float64

In [64]:
#Ð·Ð°Ð´ 11
df['home_team_statistics'].apply(lambda x: x['tactics']).value_counts()

4-2-3-1    33
4-4-2      10
3-4-3       6
3-5-2       5
4-3-3       4
4-5-1       3
5-4-1       1
3-4-2-1     1
4-3-2-1     1
Name: home_team_statistics, dtype: int64

In [426]:
t = pd.DataFrame()
t['home_team'] =  df['home_team_country']
t['home_sub'] = df['home_team_events'].apply(lambda x: len(list(filter(lambda y:y['type_of_event'].startswith('substitution'), x))))
t['away_team'] = df['away_team_country']
t['away_sub'] = df['away_team_events'].apply(lambda x: len(list(filter(lambda y:y['type_of_event'].startswith('substitution'), x))))
t = t.groupby('home_team')['home_sub'].mean() + t.groupby('away_team')['away_sub'].mean()
t.sort_values()

home_team
Poland            10.000000
Belgium           10.166667
Saudi Arabia      10.500000
Serbia            11.000000
Japan             11.000000
Switzerland       11.333333
France            11.600000
England           11.800000
Argentina         12.000000
Sweden            12.000000
Senegal           12.000000
Portugal          12.000000
Peru              12.000000
Panama            12.000000
Mexico            12.000000
Korea Republic    12.000000
Iceland           12.000000
Germany           12.000000
Costa Rica        12.000000
Brazil            12.000000
Australia         12.000000
Tunisia           12.000000
Uruguay           12.000000
Egypt             12.500000
Denmark           13.000000
Colombia          13.000000
Spain             13.000000
Russia            13.666667
Iran              14.000000
Morocco           14.000000
Nigeria           14.000000
Croatia           14.333333
dtype: float64

In [420]:
df['attendance_int'] = df['attendance'].astype(int)
df.groupby('venue')['attendance_int'].sum().sort_values()

venue
Ekaterinburg       125437
Kaliningrad        132249
Saransk            160197
Volgograd          160980
Rostov-On-Don      214197
Samara             248060
Kazan              254451
Nizhny Novgorod    256427
Sochi              264057
St. Petersburg     448686
Moscow             767027
Name: attendance_int, dtype: int64

In [421]:
df.tail(1)['winner']

63    France
Name: winner, dtype: object